.App-Grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: minmax(15vh, min-content) 1fr minmax(15vh, min-content);
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar footer';
  grid-row-gap: 0.5rem;
  height: 100%;
  overflow-x: scroll;
  z-index: 0;
}

.App-Grid::before {
  content: '';
  display: 'block';
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  transition: var(--easing-standard);
}

.App-Grid .Main-Content-Grid-Child {
  position: relative;
  display: block;
  grid-area: main;
  place-self: start stretch;
  text-align: center;
  transition: var(--easing-standard);
  width: 100%;
}
